.Weather {
  font-family: Google Sans, arial, sans-serif;
  border: 1px solid #a93e97;

  padding: 16px;
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 60%);
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  color: #202124;
  color: rgb(32, 33, 36);
  display: block;
  font-size: 30px;
  font-weight: 700;
  line-height: 26px;
  margin: 20px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}
.Weather li {
  color: rgb(112, 117, 122);
  font-size: 16px;
  line-height: 20px;
  list-style: none;
}

.Weather canvas {
  display: inline-block;

  vertical-align: top;
  margin-right: 10px;
}

.Weather .temperature {
  color: #d225a7;
  font-size: 64px;
  font-weight: 700;
  line-height: 64px;
}

.Weather .unit {
  color: #d225a7;
  font-size: 16px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -34px;
  margin-left: 0px;
}
.Weather .btn {
  background: #d225a7;
  font-weight: bold;
  font-size: 16px;
  padding: 15px 0;
  border: none;
  height: 50px;
}
.Weather .form-control {
  background: #f8e7f2;
  border: none;
  padding: 15px 20px;
  display: inline-block;
  border-radius: 6px;
  color: rgba(39, 33, 66, 0.4);
  font-size: 16px;
  height: 50px;
  line-height: 20px;
}
